@use '../app.component.scss' as main;

section {
    @include main.center($jc:flex-start);
    flex-direction: row-reverse;
    width: 170px;
    border-radius: 0 100px 100px 0;
    padding: 2%;
    border: 2px  solid black;
    border-left: none;
    @media(max-width:435px) {
        width: 100px;   
       }

    img {
        aspect-ratio: 1/1;
        width: 45px;
        border-radius: 50%;
        margin-left: 25px;
        border: 2px solid black;
        @media(max-width:435px) {
            width: 30px;   
            margin-left: 5px;
           }
    }

    span{
        font-family: "Caprasimo";
        font-weight: 400;
        font-size: 20px;
        @media(max-width:435px) {
         font-size: 14px;   
        }
    }

}

.player-active {
    width: 210px;
    transition: ease-in-out;
    background-color: red !important;
    @media(max-width:435px) {
        width: 110px;  
       }
}