@use '../app.component.scss' as main;

.playground {
    width: 100dvw;
    height: 100dvh;
    max-width: 100%;
    background-image: url('/assets/img/vintagebg.webp');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    @include main.center();

    .card-stack {
        position: relative;
        width: 8em;
        height: 11em;
        
        img{
            position: absolute;
            width: 7em;
        }
    }

    .top-card {
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover {
            transform: scale(1.1) translateY(-20px) translateX(-20px);
        }
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(140px) translateY(-180px) rotate(15deg) ;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) ;
    }
    40%{
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7) rotate(9deg) ;
    }
    100% {
        transform: scale(1.1) translateX(140px) translateY(-180px) rotate(15deg) ;
    }
}